# dependencies
/node_modules

# testing
/coverage

# ide
.idea/
.vscode/
workspace.code-workspace

# env
.env*

# build
artifacts/
cache/
typechain-types/

# ERC
.openzeppelin/

# typescript
*.tsbuildinfo
